* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainWrapper{
  display: flex;
  flex-direction: row;
  /* background-color: rgb(0, 0, 0); */
  justify-content: center;
  gap: 20px;
  width: 75vw;
  height: 85vh;
  column-rule: 1px solid rgb(255, 255, 255);
  
}

.leftSide{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
}

.rightSide{
  padding: 12px;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  /* background-color: aqua; */
  gap: 10px;
  /* border: 2px solid white; */
  border-top: 2px solid white;
  border-bottom: 2px solid white;;
  border-radius: 15px;
}

.positiveSide{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.inputWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  /* background-color: rgb(2, 73, 73); */
  border-top: 2px solid white;
  border-bottom: 2px solid white;;
  border-radius: 7.5px;
}

.inputAndButtons{
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding: 6px;
}

.inputBar{
  font-size:22px;
  display: flex;
  flex: 1;
  padding: 5px;
  border-radius: 5px;
}

button{
  display: flex;

}

.diagramBox{
  /* display: flex; */
  flex-direction: column;
  width: 100%;
  height: 50%;
  /* background-color: rgb(2, 73, 73); */
  overflow: auto;
  border-top: 2px solid white;
  border-bottom: 2px solid white;;
  border-radius: 7.5px;
}

.red{
  color: red;
}

.inputLog{
  /* flex-direction: column-reverse; */
  justify-content: end;
  flex: 1;
  overflow: auto  ;
  padding: 5px;
}

h3{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  /* margin: 5px; */
  padding: 3px;
  border-top: 1px solid rgba(247, 247, 247, 0.521);

}



