*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.state{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    transition: background-color 0.25s;
}

.endState{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    border: double;
    border-radius: 20px;
}

.transitionTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.active{
    background-color: rgba(205, 255, 208, 0.575);
}